In [20]:
# Dependencies
import os
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float 
import psycopg2

In [40]:
rds_connection_string = "<insert user name>:<insert password>@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [43]:
athletes_events_file = os.path.join(r"C:\Users\Lenovo_7\Desktop\Class_Folders\ETL\athlete_events.csv")
regions_file = os.path.join(r"C:\Users\Lenovo_7\Desktop\Class_Folders\ETL\noc_regions.csv")
variables_file = os.path.join(r"C:\Users\Lenovo_7\Desktop\Class_Folders\ETL\country_profile_variables.csv")
kiva_file = os.path.join(r"C:\Users\Lenovo_7\Desktop\Class_Folders\ETL\kiva_country_profile_variables.csv")
ses_file = os.path.join(r"C:\Users\Lenovo_7\Desktop\Class_Folders\ETL\country_SES_1880-2010_1.csv")

In [75]:
athletes_df = pd.read_csv(athletes_events_file)
athletes_df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [23]:
# Get a list of all of our columns for easy reference
athletes_df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [74]:
regions_df = pd.read_csv(regions_file)
noc_df = pd.DataFrame(regions_df, columns = ["NOC", "region"])
noc_df.head()

   NOC       region
0  AFG  Afghanistan
1  AHO      Curacao
2  ALB      Albania
3  ALG      Algeria
4  AND      Andorra

In [69]:
olympic = pd.DataFrame(athletes_df, columns = ["Team", "NOC", "Year", "Season", "City", "Sport", "Event", "Medal"])
olympic.head()

,Team,NOC,Year,Season,City,Sport,Event,Medal
0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [72]:
olympic = olympic.rename(columns={"NOC": "Country_ID"})
olympic = olympic.dropna()
olympic.to_csv(r"C:\Users\Lenovo_7\Desktop\Class_Folders\ETL\olympic_cleaned.csv")

In [64]:
ses_df = pd.read_csv(ses_file, encoding=  "ISO-8859-1")
ses = pd.DataFrame(ses_df, columns = ["wbid", "country", "year", "SES", "gdppc"])
ses = ses.rename(columns={"wbid": "Country_ID"})
ses

     Country_ID       country  year        SES       gdppc
0           AFG   Afghanistan  1970   3.474212   709.00000
1           AFG   Afghanistan  1920  26.968016   731.75677
2           AFG   Afghanistan  1990   1.269530   604.00000
3           AFG   Afghanistan  1960  15.763076   739.00000
4           AFG   Afghanistan  2000   2.061114   565.00000
5           AFG   Afghanistan  2010   5.676400  1662.80350
6           AFG   Afghanistan  1880  37.957447   585.46509
7           AFG   Afghanistan  1940  14.320977   673.91895
8           AFG   Afghanistan  1890  29.591391   635.93024
9           AFG   Afghanistan  1980   3.465048   690.00000
10          AFG   Afghanistan  1930  15.306766   702.83783
11          AFG   Afghanistan  1950  23.424145   645.00000
12          AFG   Afghanistan  1900  28.104797   686.39532
13          AFG   Afghanistan  1910  26.987600   736.86047
14          AGO        Angola  2010  21.247763  6492.17680
15          AGO        Angola  1930  24.175644   747.81482
16          AGO        Angola  1920  24.223469   682.62964
17          AGO        Angola  1970  30.052431  1768.00000
18          AGO        Angola  1960  27.918711  1253.00000
19          AGO        Angola  1950  28.055540  1052.00000
20          AGO        Angola  1880  11.459789   533.66669
21          AGO        Angola  2000  29.470123  3831.00000
22          AGO        Angola  1990  31.855452  4806.43020
23          AGO        Angola  1980  13.219266   961.00000
24          AGO        Angola  1910  14.800509   628.69232
25          AGO        Angola  1890  23.735380   567.33331
26          AGO        Angola  1900  24.152035   601.00000
27          AGO        Angola  1940  23.714304   813.00000
28          ALB       Albania  1890  67.889656   598.00000
29          ALB       Albania  1950  67.035362  1001.00000
...         ...           ...   ...        ...         ...
2056        ZAF  South Africa  1960  68.836472  3041.00000
2057        ZAF  South Africa  2000  71.873360  9717.64840
2058        ZMB        Zambia  1880  31.151592   533.66669
2059        ZMB        Zambia  2010  27.127140  3263.39480
2060        ZMB        Zambia  1970  43.075134  1073.00000
2061        ZMB        Zambia  1990  45.697155  2308.60380
2062        ZMB        Zambia  1890  41.415115   567.33331
2063        ZMB        Zambia  1980  24.035835   911.00000
2064        ZMB        Zambia  1910  39.168552   628.69232
2065        ZMB        Zambia  1950  52.154583   661.00000
2066        ZMB        Zambia  2000  26.488094  2092.25510
2067        ZMB        Zambia  1940  52.422760   813.00000
2068        ZMB        Zambia  1930  36.726391   747.81482
2069        ZMB        Zambia  1920  38.329681   682.62964
2070        ZMB        Zambia  1900  51.368465   601.00000
2071        ZMB        Zambia  1960  42.521339   960.00000
2072        ZWE      Zimbabwe  1890  44.882828   567.33331
2073        ZWE      Zimbabwe  1880  35.731262   533.66669
2074        ZWE      Zimbabwe  1970  46.349682  1282.00000
2075        ZWE      Zimbabwe  1950  51.732208   701.00000
2076        ZWE      Zimbabwe  1930  54.047283   747.81482
2077        ZWE      Zimbabwe  1910  45.283470   628.69232
2078        ZWE      Zimbabwe  1980  45.643185  1295.00000
2079        ZWE      Zimbabwe  2000  38.874393  2521.34740
2080        ZWE      Zimbabwe  1920  53.963631   682.62964
2081        ZWE      Zimbabwe  1940  52.746567   813.00000
2082        ZWE      Zimbabwe  2010  27.091389  1388.97300
2083        ZWE      Zimbabwe  1990  59.110970  2526.07230
2084        ZWE      Zimbabwe  1900  54.722645   601.00000
2085        ZWE      Zimbabwe  1960  53.811077   938.00000

[2086 rows x 5 columns]

In [ ]:
--Just storing table schema here
CREATE TABLE athlete_events (
    id INT NOT NULL,
    Name VARCHAR(50) NOT NULL,
	Sex VARCHAR(10) NOT NULL,
	Age INT NOT NULL,
	Height VARCHAR(50) NOT NULL,
	Weight INT NOT NULL,
	Team VARCHAR(50) NOT NULL,
	NOC VARCHAR(5) NOT NULL,
	Games VARCHAR(50) NOT NULL,
	Year INT NOT NULL,
	Season VARCHAR(50) NOT NULL,
	City VARCHAR(50) NOT NULL,
	Sport VARCHAR(50) NOT NULL,
	Event VARCHAR(50) NOT NULL,
	Medal VARCHAR(10) NOT NULL
);

CREATE TABLE noc_regions (
    NOC VARCHAR(5) NOT NULL,
    region VARCHAR(50) NOT NULL,
    notes VARCHAR(50)
);